<% layout('index') %>

<div class="container-fluid padding0 main roboto scrollbar">
  <div class="col-md-7 col-xs-12 padding0 welcome">
    <div class="col-md-12 col-xs-12 padding0 welcome-content">
      <div class="col-md-12 col-xs-12 padding0 welcome-text text-on-black">
        <div class="col-md-8 col-xs-7 padding0 align-center getstarted">
          <p class="text-center getstarted-text">
            <span>EASY BUYING</span><br>
            <span>1 DAY & FREE SHIPPING</span>
          </p>
        </div>
        <div class="col-md-4 col-xs-5 align-center getstarted">
          <div class="col-md-10 col-xs-10 align-center text-center padding0 transitionprop">
            <a href="/howto" style="color:#fff !important">GET STARTED</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 welcome-bg black-behind"></div>
    </div>
  </div>

  <div class="col-md-5 col-xs-12 home-promotion padding0">
    <div class="col-md-12 col-xs-12 padding0 home-text home-promotion-text vertical-center">
      <div class="col-md-8 col-xs-8">
        <span>PROMOTIONS</span>
      </div>
      <div class="col-md-4 col-xs-4 text-right">
        <span style="font-size:13px"><a href="/promotion" style="color:#fff !important">MORE</a></span>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 home-promo home-promo1 padding0">
      <div class="col-md-12 col-xs-12 padding0 home-promo-content">
        <div class="col-md-12 col-xs-12 text-on-black home-promo-content home-promo-text vertical-center">
          <span>MANGO SEASON</span>
        </div>
        <div class="col-md-12 col-xs-12 black-behind home-promo-content"></div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 home-promo home-promo2 padding0">
      <div class="col-md-12 col-xs-12 padding0 home-promo-content">
        <div class="col-md-12 col-xs-12 text-on-black home-promo-content home-promo-text vertical-center">
          <span>SUMMER SALE 15% OFF</span>
        </div>
        <div class="col-md-12 col-xs-12 black-behind home-promo-content"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xs-12 padding0 newrelease">
    <div class="col-md-12 col-xs-12 padding0 home-text home-newrelease-text vertical-center">
      <div class="col-md-8 col-xs-8">
        <span>NEW PRODUCTS</span>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 padding0 newrelease-group">
      <div class="col-xs-12 col-md-6 padding0 newrelease-item newrelease-1">
        <div class="col-md-12 col-xs-12 padding0 home-promo-content">
          <div class="col-md-12 col-xs-12 text-on-black home-promo-content home-promo-text vertical-center">
            <div class="col-md-8 col-xs-8 padding0">Orange - Valencia</div>
            <div class="col-md-4 col-xs-4 text-right padding0">$6.00</div>
          </div>
          <div class="col-md-12 col-xs-12 black-behind home-promo-content"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 padding0 newrelease-item newrelease-2">
        <div class="col-md-12 col-xs-12 padding0 home-promo-content">
          <div class="col-md-12 col-xs-12 text-on-black home-promo-content home-promo-text vertical-center">
            <div class="col-md-8 col-xs-8 padding0">Blueberries</div>
            <div class="col-md-4 col-xs-4 text-right padding0">$40.00</div>
          </div>
          <div class="col-md-12 col-xs-12 black-behind home-promo-content"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xs-12 padding0 newrelease">
    <div class="col-md-12 col-xs-12 padding0 home-text home-best-text vertical-center">
      <div class="col-md-8 col-xs-8">
        <span>BEST SELLERS</span>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 padding0 newrelease-group">
      <div class="col-xs-12 col-md-6 padding0 newrelease-item best1">
        <div class="col-md-12 col-xs-12 padding0 home-promo-content">
          <div class="col-md-12 col-xs-12 text-on-black home-promo-content home-promo-text vertical-center">
            <div class="col-md-8 col-xs-8 padding0">Pork Belly</div>
            <div class="col-md-4 col-xs-4 text-right padding0">$11.00</div>
          </div>
          <div class="col-md-12 col-xs-12 black-behind home-promo-content"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 padding0 newrelease-item best2">
        <div class="col-md-12 col-xs-12 padding0 home-promo-content">
          <div class="col-md-12 col-xs-12 text-on-black home-promo-content home-promo-text vertical-center">
            <div class="col-md-8 col-xs-8 padding0">Salmon</div>
            <div class="col-md-4 col-xs-4 text-right padding0">$16.80</div>
          </div>
          <div class="col-md-12 col-xs-12 black-behind home-promo-content"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xs- 12" style="height:30px;background:#000;"></div>

</div>
