<% layout('index') %>

<div class="container-fluid main scrollbar roboto">
	<h2>HOW TO BUY</h2>
    <ul class="timeline">
        <li>
          <div class="timeline-badge info"><i class="fa fa-smile-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">FIRST STEP</h4>
            </div>
            <div class="timeline-body">
              <p>SIGNUP AND LOGIN TO YOUR ACCOUNT</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge primary"><i class="fa fa-star-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">SECOND</h4>
            </div>
            <div class="timeline-body">
              <p>ADD AN ITEM TO THE CART</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge warning"><i class="fa fa-sun-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">THIRD</h4>
            </div>
            <div class="timeline-body">
              <p>CHECKOUT YOUR CART BY CREDIT CARD</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge danger"><i class="fa fa-times-circle-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">FINALLY !</h4>
            </div>
            <div class="timeline-body">
              <p>WAIT FOR SHIPPING !</p>
            </div>
          </div>
        </li>
        
    </ul>
</div>