<% layout('index') %>

<div class="container-fluid padding0 main roboto scrollbar">

  <div class="col-md-12 col-xs-12" style="background:#00004d;color:#fff;font-size:18px;height:50px;line-height:50px;">
    PROMOTIONS
  </div>
  <br>

  <div class="col-md-6 col-md-offset-3 col-xs-12 home-promotion padding0">
    <div class="col-md-12 col-xs-12 home-promo home-promo1 padding0">
      <div class="col-md-12 col-xs-12 padding0 home-promo-content">
        <div class="col-md-12 col-xs-12 text-on-black home-promo-content home-promo-text vertical-center">
          <span>MANGO SEASON</span>
        </div>
        <div class="col-md-12 col-xs-12 black-behind home-promo-content"></div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 home-promo home-promo2 padding0">
      <div class="col-md-12 col-xs-12 padding0 home-promo-content">
        <div class="col-md-12 col-xs-12 text-on-black home-promo-content home-promo-text vertical-center">
          <span>SUMMER SALE 15% OFF</span>
        </div>
        <div class="col-md-12 col-xs-12 black-behind home-promo-content"></div>
      </div>
    </div>
  </div>


</div>
